# Privy App ID - obtén uno en https://dashboard.privy.io
NEXT_PUBLIC_PRIVY_APP_ID=tu-privy-app-id

# Dirección del contrato deployado (YA ESTÁ EN MONAD TESTNET!)
NEXT_PUBLIC_CONTRACT_ADDRESS=0xC056DA0254ba095b0BfDBe688910ff5905aBAe70
